@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,400&family=Varela+Round&display=swap');


.what_makes_us_the_best_container{
    /* margin: 30px; */
    background-color: #f5f7fa;
    height: 600px;
}

.what_makes_us_the_best{
    padding: 60px;
    text-align: center;
    margin: auto auto 20px;
    font-family: "Varela Round", sans-serif;
    font-size: 70px;
    line-height: 75px;
    font-weight: 400;
}

.slide2_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 100px;
}
.slide2{
    display: inline;
    width: 290px;
    height: 150px;
    margin: 10px 30px 10px 30px;
    padding: 10px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
