.about-us-container {
    flex-direction: row;
    position: relative;
    display: flex;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 80px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(228, 235, 243);
  }
  
  .about-us-heading {
    margin: auto auto 20px;
    font-family: "Varela Round", sans-serif;
    font-size: 70px;
    line-height: 75px;
    font-weight: 400;
    text-align: left;
  }
  
  .about-us-line {
    width: 8px;
    height: 150px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(150, 101, 76);
  }
  
  .about-us-content {
    margin-left: 20px;
    margin-right: 100px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  }
  
  @media (max-width: 910px) {
    .about-us-container {
      flex-direction: column;
      align-items: center;
    }
  
    .about-us-line {
      display: block;
      width: 100%;
      height: 4px;
    }
  
    .about-us-content {
      margin: 20px 0;
    }
  }
  