.partners_sect{
    position: relative;
    padding: 60px 30px;
    border-bottom: 1px solid rgb(228, 235, 243);
}

.partners_section_heading{
    text-align: center;
    margin-bottom: 20px;
}

.partners_images {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 900px;
}

.partner_img{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}