@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,400&family=Varela+Round&display=swap');


.what_we_offer_container{
    margin: 30px;
}

.what_we_offer{
    padding: 60px;
    text-align: center;
    margin-bottom: 40px;
    margin: auto auto 20px;
    font-family: "Varela Round", sans-serif;
    font-size: 70px;
    line-height: 75px;
    font-weight: 400;
}

.what_we_offer_cards{
    max-width: 1200px;
    margin: 30px auto;
}

.slide{
    display: flex;
    width: 290px;
    height: 150px;
    margin-top: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(245, 247, 250);
    text-align: center;
    margin-bottom: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.italic-text-13{
    font-family: Montserrat, sans-serif;
    color: rgb(33, 125, 255);
    font-size: 20px;
    font-style: italic;
}