.Banner_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #f5f7fa;
}

.image_slider {
  flex: 1;
  max-width: 50%;
}

.Banner_des {
  flex: 1;
  max-width: 50%;
  font-size: 18px;
  padding: 20px;
  background-color: #f0f0f0;
}

.banner_sliderImg{
    width: 40vw;
}